<div class="container mt-2">
  <div class="row">
    <div class="col-8">
      <hr />
      <app-my-navbar></app-my-navbar>
      <hr />
      <app-my-badge></app-my-badge>
      <hr />
      <app-aysha-bootstrap4></app-aysha-bootstrap4>
      <hr />
      <app-list-group></app-list-group>
    </div>
    <div class="col-4">
    
<div class="list-group">
  <a href="https://valor-software.com/ngx-bootstrap/#/documentation#getting-started" class="list-group-item list-group-item-action active">
    Ref-1
  </a>
  <a href="https://getbootstrap.com/docs/4.0/components/card/" class="list-group-item list-group-item-action">Card</a>
  <a href="https://getbootstrap.com/docs/4.0/components/list-group/" class="list-group-item list-group-item-action">List-Group</a>
  <a href="https://getbootstrap.com/docs/4.0/components/badge/" class="list-group-item list-group-item-action">Badge</a>
   <a href="https://getbootstrap.com/docs/4.0/components/navbar/" class="list-group-item list-group-item-action">Navbar</a>
  
    
</div>
     
    </div>
  </div>
</div>