<div class="container mt-2">
  <div class="row">
    <div class="col-8">
      <ng-container  *ngIf="activeComponent=='navbar'">
        <app-my-navbar></app-my-navbar>
      </ng-container>
      <ng-container  *ngIf="activeComponent=='accordion'">
        <app-accordion></app-accordion>
      </ng-container>
      <ng-container  *ngIf="activeComponent=='list-group'">
        <app-list-group></app-list-group>
      </ng-container>
      <ng-container  *ngIf="activeComponent=='bootstrap4'">
        <app-aysha-bootstrap4></app-aysha-bootstrap4>
      </ng-container>
      <ng-container  *ngIf="activeComponent=='badge'">
        <app-my-badge></app-my-badge>
      </ng-container>
    </div>

    <div class="col-4">
<div class="list-group">
  <a href="https://valor-software.com/ngx-bootstrap/#/documentation#getting-started" class="list-group-item list-group-item-action active">
    Ref-1
  </a>
  <a (click)="onComponent('')" href="https://getbootstrap.com/docs/4.0/components/card/" class="list-group-item list-group-item-action" >Card</a>
  <a (click)="onComponent('')" href="https://getbootstrap.com/docs/4.0/components/list-group/" class="list-group-item list-group-item-action">List-Group</a>
  <a (click)="onComponent('')" href="https://getbootstrap.com/docs/4.0/components/badge/" class="list-group-item list-group-item-action">Badge</a>
   <a (click)="onComponent('')" href="https://getbootstrap.com/docs/4.0/components/navbar/" class="list-group-item list-group-item-action">Navbar</a>
   <a (click)="onComponent('')" href="#" class="list-group-item list-group-item-action">Accordion</a> 
    
</div>  
    </div>
  </div>
</div>