<div class="container mt-2">
  <div class="row" *ngIf='false'>
    <div class="col-12">
      <app-aysha></app-aysha>
    </div>
  </div>
<div class="row">
  <div class="col-3">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card align-items-center mt-2">
  <div class="mt-2">
  <h4>My Profile</h4>
  <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="John" style="width:70px">
 <hr/>
  <p><i class="fa fa-pencil fa-fw margin-right"></i> Designer, UI</p>
  <p><i class="fa fa-home fa-fw margin-right"></i> London, UK</p>
  <p><i class="fa fa-birthday-cake fa-fw margin-right"></i> April 1, 1988</p>
  </div>
</div>
<div class="accordion mt-3" id="accordionExample275">
  <div class="card z-depth-0 bordered">
    <div class="card-header" id="headingOne2">
      <h5 class="mb-0">
        <button  class="btn" type="button" data-toggle="collapse" data-target="#collapseOne2"
          aria-expanded="true" aria-controls="collapseOne2"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i>
          My Groups
        </button>
      </h5>
    </div>
    <div id="collapseOne2" class="collapse" aria-labelledby="headingOne2"
      data-parent="#accordionExample275">
      <div class="card-body">
       Some text...
      </div>
    </div>
  </div>
  <div class="card z-depth-0 bordered">
    <div class="card-header" id="headingTwo2">
      <h5 class="mb-0">
        <button  class="btn collapsed" type="button" data-toggle="collapse"
          data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i>
          My Events
        </button>
      </h5>
    </div>
    <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2"
      data-parent="#accordionExample275">
      <div class="card-body">
        Some other texts...
      </div>
    </div>
  </div>
  <div class="card z-depth-0 bordered">
    <div class="card-header" id="headingThree2">
      <h5 class="mb-0">
        <button  class="btn collapsed" type="button" data-toggle="collapse"
          data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2"><i class="fa fa-users fa-fw w3-margin-right"></i>
          My Events
        </button>
      </h5>
    </div>
    <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2"
      data-parent="#accordionExample275">
      <div class="card-body">
        Some images..
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-6">
  <div class="card"  style="width:100%">
  <div class="form-group mt-2">
  <h6 class="text-black-50">Social Media template by bootstrap</h6>
  <input type="text" class="form-control" id="usr"> 
  <button type="button" class="btn btn-secondary mt-2" ><i class="fa fa-pencil"></i>&nbsp;Post</button>
</div>
  </div>
</div>